<h1>Your Cart</h1>

<% @cart_products.each do |product| %>
	<%= product.name %>
	<%= product.description %>
	<%= number_to_currency(product.price, :unit => '$') %>
	<%= link_to "Remove from cart" %>
<% end %>