<div class="container">
	<div class="page-header"><h3>ABOUT US</h3></div>

	<div class="row">
		<div class="col-sm-6">
			<h4>WHO WE ARE</h4>
			<p>
				We are a group of fashion and design enthusiasts who have come together to reshape the wristwatch industry. We as a team offer modern, unique and collective ways in which to wear the wristwatch. 
			</p>
		</div>

		<div class="col-sm-6">
			<h4>OUR MISSION</h4>
			<p>
				Inspire the loyalty of our clients by being the most trusted wristwatch sales company in our markets; be an authority in each area of our business; acting responsibly and ethically.
			</p>
		</div>
	</div>

	<hr>

	<div class="page-header"><h4>MEET OUR DESIGN TEAM</h4></div>

	<div class="row">
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Lily</h2>
	                        <p>
	                        	<strong>About: </strong> Team Lead. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Mike</h2>
	                        <p>
	                        	<strong>About: </strong> Product design. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/men/61.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Sarah</h2>
	                        <p>
	                        	<strong>About: </strong> Product Aesthetics. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/women/49.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>						
	</div>

	<div class="row">
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Julia</h2>
	                        <p>
	                        	<strong>About: </strong> Customer relations. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/women/21.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Sarah</h2>
	                        <p>
	                        	<strong>About: </strong> Product design. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/women/12.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>
		<div class="col-sm-4">
      		<div class="panel panel-default">
				<div class="panel-body">
	              	<div class="row">
	                    <div class="col-xs-12 col-sm-8">
	                        <h2>Tony</h2>
	                        <p>
	                        	<strong>About: </strong> Product Marketing. 
	                        </p>
	                        <p>
	                        	<strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. 
	                        </p>
	                    </div>          
	                    <div class="col-xs-12 col-sm-4 text-center">
	                        <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
	                    </div>
	              	</div>
	            </div>
	        </div>			
		</div>									
	</div>

</div>