		<div class="container">
            <div class="page-header"><h3>Alpha Watches</h3></div>
                  
            <div class="row">
                <div class="lead">
                    <p>
                        WELCOME! WELCOME! WELCOME!
                    </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. 
                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                            </p>                    
                </div>
                <div class="blockquote">
                    The child that says it will not allow the mother to sleep,
                    this same child will not sleep.
                </div>
            </div>
            
            <div class="page-header"><h4>Our Collection</h4></div>

            <div class="row">
                <div class="lead">
                    <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                    </p>                    
                </div>
            </div>

            <div class="row">                
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>
                                Trendy
                            </p>
                        </div>
                        <div class="panel-body">
                            <p>
                                Our trendy line of timepieces have been engineered in design to fit whatever occasion. All you have to do is put it on and dazzle away! 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>
                                Sport
                            </p>                            
                        </div>
                        <div class="panel-body">
                            <p>
                                What if you needed a timepiece for that time of the day when you go jogging
                                or you walk your pet? Well the Sport line is the fantastic choice for you
                            </p>                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>
                                Magnum
                            </p>                            
                        </div>
                        <div class="panel-body">
                            <p>
                                All our timepieces speak volumes but the Magnum line speaks everything you want 
                                it to and even more! The top of the food chain!
                            </p>
                        </div>
                    </div>
                </div>                
            </div>            
                        
        </div>