<div class="row">
	<div class="page-header text-center"><h3>Payment Gateway Selection</h3></div>
	<div class="col-md-6 col-md-offset-3">
	<%= form_tag('/checkout/payment', method: "post", id: "payment_provider", authenticity_token: true, protect_from_csrf: true, role: "form") do -%>
		<div class="form-group">
		   <div class="col-sm-4">
		   <%= label_tag("Payment Gateway: ") %>
		   </div>
		   <div class="col-sm-8">
		   <%= select_tag :selection, options_for_select([ "PayPal", "GooglePay", "CreditCard" ]), :class => "form-control"  %>
		   </div>
		</div>						
	   <div class="col-sm-4">

	   </div>
	   <div class="col-sm-8">

	   <%= submit_tag("Submit") %>

	   </div>		
	<% end %>
	</div>
			
</div>